<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Product ID</th><th >Product Name</th><th>Brand</th> <th>Price</th> <th >Description</th> <th>Stock</th><th>Image</th><th>Ratings</th> <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products; let i = index">
            <td>{{p.productId}}</td>
            <td>{{p.productName}}</td>
            <td>{{p.brand}}</td>
            <td>{{p.price}}</td>
            <td>{{p.description}}</td>
            <td>{{p.stock}}</td>
            <td><img src={{p.image}} height="150px" width="100px"></td>
            <td>{{p.ratings}}</td>
            <td><button class="btn btn-danger" (click)="delete(p.productId)">Delete</button><button class="btn btn-secondary" (click)="edit(i)">Edit</button></td>
        </tr>
    </tbody>
</table>

<button type="submit" class="btn btn-primary" (click)="addProduct()">Add Product</button>

