<!-- Code for Navbar at home page -->



<!-- Carousel at home page -->
<div class="carousel-container">
    <igx-carousel #carousel>
      <igx-slide *ngFor="let slide of slides">
        <div class="image-container">
          <img [src]="slide.src" />
        </div>
      </igx-slide>
    </igx-carousel>
  </div>
  
  <!-- <img
    src="https://rukminim2.flixcart.com/image/832/832/xif0q/mobile/m/o/b/-original-imaghx9qkugtbfrn.jpeg?q=70"
    alt=""
    height="200px"
    width="200px"
  />
  <img
    src="https://rukminim2.flixcart.com/image/832/832/xif0q/mobile/m/o/b/-original-imaghx9qkugtbfrn.jpeg?q=70"
    alt=""
    height="200px"
    width="200px"
  />
  <img
    src="https://rukminim2.flixcart.com/image/832/832/xif0q/mobile/m/o/b/-original-imaghx9qkugtbfrn.jpeg?q=70"
    alt=""
    height="200px"
    width="200px"
  /> -->
